.navbar {
  background-color: rgb(75, 75, 75);
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 99;
}
  
.navbar a {
  text-align: center;
  padding: 5px 5px;
}

.main {
  margin-top: 80px;
  text-align: center;
}

.container-fluid {
  max-width:1150px;
}