<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="background-color:rgba(0, 0, 0, 0.850);"></body>
      
    <div class="container">
    <h1 class="text-light">hasdoi aosidj asodij aosdjkjasnd </h1>
    <p class="text-light">asj dnas jndaksj dnaksjd</pclass>
    <button type="button" class="btn btn-light btn-block" onclick="abc();">javascript run</button>
  
    <p class="text-light" id="demo"></p>

    
    </div>
    <br><br>
    <div class="container">
      <p class="text-light"></p>

      <textarea id="myTextarea">
      342 Alvin Road
      Ducksburg</textarea>

      <button type="button" class="btn btn-light btn-block" onclick="parse();">Parse</button>
      <br>
      <p class="text-light" id="parse"></p>
      <br>

      <form action="{{ url_for('parse') }}" method="post">
        <textarea class="form-control" id="test" rows="7" name="parseme"></textarea>
        <br>
        <input type="submit" value="parse">
      </form>
    
      <!--<button><a href="/parse/">Click me</a></button>-->
      <p class="text-light">{{data}}</p>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename="js/testscript.js")}}"></script>
    
  </body>
</html>