<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style.css') }}">
    
  </head>
  <body style="background-color:rgb(25, 25, 25);">
    
    <nav class="navbar navbar-expand-sm navbar-light bg-faded">
      <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <div class="collapse navbar-collapse text-center" id="navbars">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/cal">Calendar View</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="main container-fluid">
      <h1 class="text-light">NTUiCal</h1>
      <p class="text-light">Script to parse data from 'Check/Print Courses Registered' to ICS </pclass>
    </div>

    <br>

    <div class="container-fluid">
      <form action="#" method="post">
        <label class="text-light">1. Enter Semester Start Date: </label>
        <input type="date" name="getdate" class="form-control" required="">
        <br>
        <label class="text-light">2. Paste 'Check/Print Courses Registered' Table Info:</label>
        <textarea class="form-control" rows="7" name="sourcetxt" required=""></textarea>
        <br>
        <input type="submit" value="Parse" class="btn btn-light btn-block">
      </form>
    </div>


  </br>
    <div class="container">
      <p class="text-light"></p>

      <textarea id="myTextarea">
      342 Alvin Road
      Ducksburg</textarea>

      <button type="button" class="btn btn-light btn-block" onclick="parse();">Parse</button>
      <br>
      <p class="text-light" id="parse"></p>
      <br>
    
      <!--<button><a href="/parse/">Click me</a></button>-->
      <p class="text-light">{{data}}</p>
      <p class="text-light">{{data2}}</p>
      
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename="testscript.js")}}"></script>
    
  </body>
</html>